.product__details {
    margin-top: 70px;
}

.product__details h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}


.cart__btn {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.cart__btn:hover {
    color: #111;
}

.product__price {
    font-size: 1.3rem;
    font-weight: 500;
}

.long__desc {
    color: var(--primary-color);
}

.related__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 50px;
}