@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap');


:root {
  --card-bg-01: #f2b8ea;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #f2e0f5;
  --card-bg-04: #dedc66;
  --primary-color: #e686d6;
  --color-accent: #b264ef;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #e468de;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
  
}

img {
  width: 100%;
}

section {
  padding: 60px 0px;
}

.section__title {
  color: var(--primary-color);
  font-weight: 600;
}

@media only screen and (max-width: 768px) {
  section {
    padding: 40px 0px;
  }

}